In [62]:
import json
import pandas as pd
import numpy as np

In [53]:
files = [f'cegielka{i}_{j}.json' for i in [1,2] for j in [1,2,3,4]]

In [54]:
data = []

for file in files:
    with open(file) as f:
        data += json.load(f)['items']
        
snippets = [item['snippet']['topLevelComment']['snippet'] for item in data]

replies = []
for item in data:
    if item.get('replies') and item['replies'].get('comments'):
        replies += [comment['snippet'] for comment in item['replies']['comments']]

In [55]:
print(snippets[0].keys())
print(replies[0].keys())

dict_keys(['videoId', 'textDisplay', 'textOriginal', 'authorDisplayName', 'authorProfileImageUrl', 'authorChannelUrl', 'authorChannelId', 'canRate', 'viewerRating', 'likeCount', 'publishedAt', 'updatedAt'])
dict_keys(['videoId', 'textDisplay', 'textOriginal', 'parentId', 'authorDisplayName', 'authorProfileImageUrl', 'authorChannelUrl', 'authorChannelId', 'canRate', 'viewerRating', 'likeCount', 'publishedAt', 'updatedAt'])

In [56]:
dataset = pd.DataFrame(snippets + replies)
dataset[['videoId', 'publishedAt']]

         videoId           publishedAt
0    DtxWm-IYqEU  2022-05-07T16:51:04Z
1    DtxWm-IYqEU  2022-10-18T17:27:47Z
2    DtxWm-IYqEU  2022-09-09T20:00:21Z
3    DtxWm-IYqEU  2022-09-04T20:21:28Z
4    DtxWm-IYqEU  2022-09-04T18:33:28Z
..           ...                   ...
877  90LN0_TV8Vk  2022-09-30T04:50:45Z
878  90LN0_TV8Vk  2022-09-26T18:27:43Z
879  90LN0_TV8Vk  2022-09-25T15:39:07Z
880  90LN0_TV8Vk  2022-09-25T12:35:30Z
881  90LN0_TV8Vk  2022-09-25T12:34:39Z

[882 rows x 2 columns]

In [64]:
dataset['timestamp'] = pd.to_datetime(dataset.publishedAt).values.astype(np.int64) // 10 ** 9

In [65]:
dataset.to_csv('cegielka_comments.csv')